.demo{
    background-color: rgb(248, 248, 168);
    color: rgb(81, 36, 1);
    font-family: "Bodoni Moda", serif;
}

body{
    font-family: "Bodoni Moda", serif;
}
.button{
    background-color:  rgb(248, 248, 168);
    color:  rgb(81, 36, 1);
}

.button:hover, .button:focus{
    background-color: rgb(81, 36, 1);
    color:  rgb(248, 248, 168);
}

.close{
    color: rgb(81, 36, 1);
    font-size: small;
}

.pink-box {
  width: 100%;
  background-color: rgb(231, 20, 133);
  border: 20px solid rgb(231, 20, 133);
  padding: 10px;
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pink-box h1 {
  flex: 0 0 100%;
  text-align: center;
}


.promo, .promotwo {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.dragintro{
    background-color: turquoise;
    width: 90%;
    justify-self: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.map{
  display: block;
}

.justimg{
    display: flex;
}

.imgmap{
  flex: 2;
  justify-content: center;
}
h2{
    justify-self: center;
}

.wordsnexttomap ul {
  column-count: 2;
  column-gap: 20px;
  list-style: none;
}

.watch{
    background-color: rgb(231, 20, 133);
    width: 90%;
    justify-self: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.buttoninwatch{
    background-color: rgb(243, 173, 210);
    width: 45%;
    justify-self: center;
    border-radius: 5px;
    margin: 10px;
}

.buttoninwatch a{
    color: rgb(231, 20, 133);
    text-decoration: none;
}
.buttoninwatch:hover, .buttoninwatch:focus{
    background-color: rgb(231, 20, 133);;
}

.buttoninwatch a:hover, .buttoninwatch a:focus{
    color: rgb(243, 173, 210);
}

.textunderbutton{
    background-color: rgb(243, 173, 210);
    width: 85%;
    justify-self: center;
    border-radius: 5px;
    margin: 10px;
    color: rgb(231, 20, 133);
}

.map img{
    width: 80%;
    justify-self: center;
}


@media (min-width: 768px) {
  .pink-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 20px;
    align-items: start;
    justify-items: center;
    width: 100%;
    padding:20px;
  }

  .pink-box h1{
    grid-column: 1 / 4;
    text-align: center;
  }

  .promo, .promotwo {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .watch{
    width: 50%;
  }

  .map {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
  }

  .justimg{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .imgmap {
    width: 100%;
    height: auto;
    object-fit: contain;
    grid-column: 1 / 2;
  }

  .wordsnexttomap {

    padding: 10px;
    margin:10px;
    grid-column: 2 / 3;
  }

  h2{
    text-align: center;
  }

  .wordsnexttomap ul {
    column-count: 1;
    list-style:circle;
  }
}
