.demo{
    background-color: rgb(248, 248, 168);
    color: rgb(81, 36, 1);
    font-family: "Bodoni Moda", serif;
}

body{
    font-family: "Bodoni Moda", serif;
}
.button{
    background-color:  rgb(248, 248, 168);
    color:  rgb(81, 36, 1);
}

.button:hover, .button:focus{
    background-color: rgb(81, 36, 1);
    color:  rgb(248, 248, 168);
}

.close{
    color: rgb(81, 36, 1);
    font-size: small;
}

.all{
    display: block;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
}

.headshot{
    width: 70%;
    margin: 0 auto 20px;
    display: block;
    margin-top: -100px;
}

.textbox{
    background-color: rgb(248, 248, 168);
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    height: auto;
}

.container{
    width: 80%;
    justify-self: center;
}

.photoandintro,
.container {
    width: 90%;
    margin: 0 auto 30px auto;
}

button{
    width: 100%;
    margin-top: 15px;
    border-radius: 4px;
    background-color: rgb(76, 90, 108);
}

textarea, label{
    padding: 10px 0px;
    border-radius: 8px;
    justify-self: center;
}

#name{
    width: 95%;
}

#email{
    width: 95%;
}

#name:hover, #email:hover {
  border-color:rgb(81, 36, 1);
}

#name, #email{
  border: 2px solid  rgb(248, 248, 168);
  outline: none;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  background-color: white;
}

.submit{
    width: 95%;
    margin-top: 20px;
    background-color: rgb(81, 36, 1);
    color: rgb(248, 248, 168);
}

.submit:hover, 
.submit:focus{
    background-color: rgb(248, 248, 168);
    color: rgb(81, 36, 1);
}

h3{
    text-align: center;
    color: rgb(81, 36, 1);
}

footer{
    background-color: rgb(248, 248, 168);
    color: rgb(81, 36, 1);
    text-align: center;
    height: 30px;
}

@media (min-width: 768px) {
    .photoandintro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        align-items: stretch;
    }

    .headshot {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        align-self: center;
        margin-top: -200px;
    }

    .textbox {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
        height: auto;
        padding: 25px;
        margin-top: -200px;
    }

    .container {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        align-self: center;
    }
    .one, .two {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .submit {
        grid-column: 1 / 3; 
        width: 100%;
    }
    #contact-form {

        justify-items: center; 
    }
}
