.demo{
    background-color: rgb(248, 248, 168);
    color: rgb(81, 36, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button{
    background-color: rgb(81, 36, 1);
    color:  rgb(248, 248, 168);
}

.button:hover, .button:focus{
     background-color:  rgb(248, 248, 168);
    color:  rgb(81, 36, 1);

}

.close{
    color: rgb(81, 36, 1);
    font-size: small;
}

.photoandintro{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
}

.headshot{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 70%;
    margin: 20px;
    margin-top: -150px;
    justify-self: center;
}

.textbox{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(248, 248, 168);
    width: 80%;
    justify-self: center;
    border-radius: 15px;
}

.container{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 80%;
    justify-self: center;
    margin-top: -200px;
}

button{
    width: 100%;
    margin-top: 15px;
    border-radius: 4px;
    background-color: rgb(76, 90, 108);
}

textarea, label{
    padding: 10px 0px;
    border-radius: 8px;
    justify-self: center;
}

#name{
    width: 95%;
}

#email{
    width: 95%;
}

#name:hover, #email:hover {
  border-color:rgb(81, 36, 1);
}

#name, #email{
  border: 2px solid  rgb(248, 248, 168);
  outline: none;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  background-color: white;
}

.submit{
    width: 95%;
    margin-top: 20px;
    background-color: rgb(81, 36, 1);
    color: rgb(248, 248, 168);
}

.submit:hover, 
.submit:focus{
    background-color: rgb(248, 248, 168);
    color: rgb(81, 36, 1);
}

h3{
    text-align: center;
    color: rgb(81, 36, 1);
}

footer{
    background-color: rgb(248, 248, 168);
    color: rgb(81, 36, 1);
    text-align: center;
    height: 30px;
}
